:root {
    --very-dark-shade-blue: #121723;
    --ebony: #292e39;
    --mischka: #A1A6B4;
    --fog: #D2D5DD;
    --solitude: #E6E8EC;
    --medium_dark_shade_cyan-blue: #0039A6;
    --buff: #F0D288;
    --boston-blue: #BB973E;
    --harley-davidson-orange: #D52B1E;
    --garfield: #4F28A5;
    --blue-violet: #6D31EE;
    --very-soft-blue: #AA9DFA;
    --alice-blu: #F5F6F7;
    --fff: #fff;

    --indent-margin: 30px;
}

@media (max-width:1600px) {
    .container {
        width: 824px;
    }

    .header__panel {
        background-color: var(--solitude);
    }

    .header__panel-logo {
        margin: auto;
        margin-left: 0;
        padding: 23px 0;
    }

    .header__panel-login {
        margin: auto;
        margin-right: 0;
    }

    .header__panel {
        display: block;
    }

    .header__logo {
        display: none;
    }

    .nav__item-all {
        margin-right: 27px;
    }

    .live__btn {
        width: 150px;
    }

    .header__lower-live.live {
        margin: auto;
        margin-right: 0;
    }

    .header__lower-age {
        display: none;
    }

    .ether__content {
        max-width: 67%;
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .ether__microphone {
        width: 33%;
    }

    .ether__desc {
        margin-bottom: 22px;
    }

    .broadcast__archive {
        margin: auto;
    }

    .broadcast__list-item {
        margin: 0;
        margin-right: 29px;
    }

    .broadcast__list-item:nth-child(3n) {
        margin-right: 29px;
    }

    .broadcast__list-item:nth-child(2n) {
        margin-right: 0;
    }

    .broadcast__list-item:nth-last-child(n+3) {
        margin-bottom: 26px;
    }

    .guests__text {
        max-width: 538px;
    }

    .columns {
        columns: 3;
        column-gap: 30px;
    }

    .radio {
        /* justify-content:; */
        columns: 2;
        column-gap: 30px;
        max-height: 190px;
    }

    .playlists__container {
        flex-direction: column;
    }

    .playlists__radio {
        position: relative;
        min-width: 35%;
        margin-bottom: 35px;
        padding-right: 0;
    }
    
    .radio__item {
        width: 330px;
        margin: 0;
        margin-bottom: 20px;
        break-inside: avoid;
    }

    .radio__width {
        width: 150px;
    }

    .radio__item:nth-child(4n) {
        margin-bottom: 0;
    }

    .playlists__list-content {
        width: 100%;
    }

    .playlists__radio-destop {
        display: none;
    }

    .playlists__radio-info {
        display: block;
        padding-top: 34px;
        border-top: 1px solid var(--fog);
    }

    .playlists__executor-container {
        display: flex;
    }


    
    .info__spiral {
        display: none;
    }

    .info__content {
        width: 70%;
    }

    .info__dawn {
        width: 30%;
    }


    .info__swiper {
        width: 824px;
    }

    .swiper-card {
        max-width: 397px;
    }

    .textarea {
        width: 100%;
    }

    .flex__width-one,
    .flex__width-two {
        min-width: 47%;
}

@media (max-width:900px) {}

@media (max-width:500px) {}