:root {
    --very-dark-shade-blue: #121723;
    --ebony: #292e39;
    --mischka: #A1A6B4;
    --fog: #D2D5DD;
    --solitude: #E6E8EC;
    --medium_dark_shade_cyan-blue: #0039A6;
    --buff: #F0D288;
    --boston-blue: #BB973E;
    --harley-davidson-orange: #D52B1E;
    --garfield: #4F28A5;
    --blue-violet: #6D31EE;
    --very-soft-blue: #AA9DFA;
    --alice-blu: #F5F6F7;
    --fff: #fff;

    --indent-margin: 30px;
}

@media (max-width:1600px) {
    .container {
        width: 824px;
    }

    .header__panel {
        background-color: var(--solitude);
    }

    .header__panel-logo {
        margin: auto;
        margin-left: 0;
        padding: 23px 0;
    }

    .header__panel-login {
        margin: auto;
        margin-right: 0;
    }

    .header__panel {
        display: block;
    }

    .header__logo {
        display: none;
    }

    .nav__item-all {
        margin-right: 27px;
    }

    .live__btn {
        width: 150px;
    }

    .header__lower-live.live {
        margin: auto;
        margin-right: 0;
    }

    .header__lower-age {
        display: none;
    }

    .ether__content {
        max-width: 67%;
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .ether__microphone {
        width: 33%;
    }

    .ether__desc {
        margin-bottom: 22px;
    }

    .broadcast__archive {
        margin: auto;
    }

    .broadcast__list-item {
        margin: 0;
        margin-right: 29px;
    }

    .broadcast__list-item:nth-child(3n) {
        margin-right: 29px;
    }

    .broadcast__list-item:nth-child(2n) {
        margin-right: 0;
    }

    .broadcast__list-item:nth-last-child(n+3) {
        margin-bottom: 26px;
    }

    .guests__text {
        max-width: 538px;
    }

    .columns {
        columns: 3;
        column-gap: 30px;
    }

    .radio {
        /* justify-content:; */
        columns: 2;
        column-gap: 30px;
        max-height: 190px;
    }

    .playlists__container {
        flex-direction: column;
    }

    .playlists__radio {
        position: relative;
        min-width: 38%;
        margin-bottom: 31px;
        padding-right: 0;
    }

    .radio__item {
        width: 330px;
        margin: 0;
        margin-bottom: 20px;
        break-inside: avoid;
    }

    .radio__width {
        width: 150px;
    }

    .radio__item:nth-child(4n) {
        margin-bottom: 0;
    }

    .playlists__list-content {
        width: 100%;

        border-bottom: 1px solid var(--fog);
    }

    .playlists__radio-destop {
        display: none;
    }

    .playlists__radio-info {
        display: block;
        padding-top: 34px;
    }

    .playlists__executor-container {
        display: flex;
    }

    .playlists__executor-container,
    .playlists__executor {
        width: 255px;
    }

    source {
        width: 100%;
        height: 100%;
    }

    .playlists__executor {
        max-height: 113px;
        margin-right: 29px;
        margin-bottom: var(--indent-margin);
    }


    .playlists__executor:nth-child(4n) {
        margin-right: 29px;
    }

    .playlists__executor:nth-child(3n) {
        margin-right: 0px;
    }

    .playlists__executor-text {
        padding: 0;
        margin: auto 0;
        margin-left: 10px;
    }


    .product__content {
        max-width: 48%;
    }

    .info__spiral {
        display: none;
    }

    .info__content {
        max-width: 72%;
    }

    .info__dawn {
        width: 34%;
    }

    .swiper-title {
        margin-top: 30px;
    }

    .info__swiper {
        width: 824px;
    }

    .swiper-button-one,
    .swiper-button-two {
        top: 20%;
    }

    .swiper-card {
        max-width: 397px;
    }

    .textarea {
        width: 100%;
    }

    .flex__width-one,
    .flex__width-two {
        width: 47%;
    }

    .swiper-slide__img {
        margin-bottom: 0;
    }
}

@media (max-width:1000px) {
    .container {
        width: 540px;
    }

    .header__menu {
        position: relative;
    }

    .spiral-two {
        background-image: url(/img/header/speral-r.svg),
            url(/img/header/speral-l.svg);
        background-repeat: no-repeat;
        background-position: top 0px right 114px, bottom 0 right 250px;
    }

    .blog-list {
        position: absolute;
        z-index: 100;

        width: 768px;
        height: 100vh;
        left: -768px;
        top: 0px;

        background-color: var(--fog);
        transition: transform 0.5s;
    }

    .header.open .blog-list {
        transform: translateX(900px);
    }


    .nav__list {
        display: block;
        width: 100%;

        column-count: 2;
        column-gap: 48px;

        padding: 106px 114px;
        padding-right: 403px;
    }

    .nav__item {
        margin-bottom: 64px;
        padding: 0;
    }


    .nav__item:not(:last-child) {
        margin-right: 0;
    }

    .nav__burger-spiral {
        display: block;
    }

    .nav__burger-spiral {
        width: 25%;
    }


    .header__lower-live {
        display: none;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 25px;
        height: 24px;
        z-index: 99999999;

        padding: 0;

    }

    .header__burger-line {
        display: flex;
        position: absolute;
        width: 24px;
        height: 3px;

        background-color: var(--blue-violet);
        border-radius: 4px;
        transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
    }


    .header__burger-line:nth-child(1) {
        transform: translateY(-10px);
    }

    .header.open .header__burger-line:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }

    .header.open .header__burger-line:nth-child(2) {
        opacity: 0;
    }

    .header.open .header__burger-line:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }

    .header__burger-line:nth-child(3) {
        transform: translateY(10px);
    }

    .nav__list-all {
        padding: 22px 0;
    }

    .btn-play {
        display: block;
    }








    .ether__content {
        max-width: 100%;
    }

    .ether__microphone {
        display: none;
    }


    .podcasts__item {
        width: 100%;
        margin-right: 0;

        margin-bottom: 25px;
    }

    .broadcast__filter {
        margin-right: 0;
        margin-bottom: 47px;
    }

    .broadcast__select {
        width: 255px;
    }

    .choices__inner {
        min-height: 40px;
    }

    .choices[data-type*=select-one] .choices__inner {
        padding-bottom: 0;
    }

    .choices__list--single {
        padding: 2px 16px 4px 4px;
    }

    .podcasts__article {
        height: 96%;
    }

    .podcasts__item-date {
        bottom: 5px;
    }


    .broadcast__container {
        flex-direction: column;
    }

    .broadcast__archive {
        display: none;
    }

    .broadcast__list {
        margin-bottom: 61px;
    }

    .broadcast__archive-botton {
        display: flex;

    }

    .broadcast__archive-desc {
        max-width: 255px;
    }

    .broadcast__archive-botton {
        margin: auto;
    }

    .broadcast__archive-pic {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .guests__content-accordion {
        flex-direction: column;
    }

    .guests__list {
        width: 100%;

        margin-bottom: 50px;
    }

    .guests__map {
        width: 100%;
    }

    .ac-panel__item {
        margin-bottom: 30px;
    }

    .ac-panel__list {
        height: 212px;
    }

    .ac-panel__item:nth-child(5n) {
        margin-bottom: 0px;
    }


    .playlists__radio {
        min-width: 52%;
    }

    .playlists__executor {
        margin-right: 29px;
    }

    .playlists__executor:nth-child(3n) {
        margin-right: 29px;
    }

    .playlists__executor:nth-child(2n) {
        margin-right: 0px;
    }

    .product__container {
        flex-direction: column;
    }

    .product__content {
        max-width: 100%;
    }

    .info__all {
        flex-direction: column;
    }

    .info__content {
        max-width: 100%;
    }

    .info__swiper {
        width: 540px;

    }

    .info__turned-helix {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='513' height='114' viewBox='0 0 513 114' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M377.276 72.88C377.276 33.343 366.862 1.29221 354.015 1.29221C341.169 1.29221 330.754 33.343 330.754 72.88C330.754 95.0376 335.163 113 340.601 113C346.039 113 350.448 95.0376 350.448 72.88C350.448 33.343 340.034 1.29221 327.187 1.29221C314.34 1.29221 303.926 33.343 303.926 72.88C303.926 95.0376 308.334 113 313.773 113C319.211 113 323.619 95.0376 323.619 72.88C323.619 33.343 313.141 1.29221 300.216 1.29221C287.29 1.29221 276.812 33.343 276.812 72.88C276.812 95.0376 281.22 113 286.659 113C292.097 113 296.505 95.0376 296.505 72.88C296.505 33.343 286.091 1.29221 273.244 1.29221C260.398 1.29221 249.984 33.343 249.984 72.88C249.984 95.0376 254.392 113 259.83 113C265.268 113 269.677 95.0376 269.677 72.88C269.677 33.343 259.262 1.29221 246.415 1.29221C233.569 1.29221 223.155 33.343 223.155 72.88C223.155 95.0376 227.564 113 233.001 113C238.439 113 242.848 95.0376 242.848 72.88C242.848 33.343 232.433 1.29221 219.587 1.29221C206.741 1.29221 196.326 33.343 196.326 72.88C196.326 95.0376 200.735 113 206.173 113C211.611 113 216.019 95.0376 216.019 72.88C216.019 33.343 205.541 1.2922 192.616 1.2922C179.691 1.2922 169.212 33.343 169.212 72.88M512 72.88C512 33.343 501.586 1.29221 488.739 1.29221C475.892 1.29221 465.478 33.343 465.478 72.88C465.478 95.0376 469.887 113 475.325 113C480.763 113 485.171 95.0376 485.171 72.88C485.171 33.343 474.757 1.29221 461.911 1.29221C449.064 1.29221 438.649 33.343 438.649 72.88C438.649 95.0376 443.058 113 448.496 113C453.934 113 458.343 95.0376 458.343 72.88C458.343 33.343 447.865 1.29221 434.939 1.29221C422.014 1.29221 411.535 33.343 411.535 72.88C411.535 95.0376 415.944 113 421.382 113C426.821 113 431.228 95.0376 431.228 72.88C431.228 33.343 420.815 1.29221 407.968 1.29221C395.121 1.29221 384.707 33.343 384.707 72.88C384.707 95.0376 389.115 113 394.553 113C399.992 113 404.4 95.0376 404.4 72.88C404.4 33.343 393.986 1.29221 381.139 1.29221C368.292 1.29221 357.878 33.343 357.878 72.88C357.878 95.0376 362.287 113 367.725 113C373.163 113 377.572 95.0376 377.572 72.88C377.572 33.343 367.157 1.29221 354.311 1.29221C341.464 1.29221 331.05 33.343 331.05 72.88C331.05 95.0376 335.458 113 340.897 113C346.334 113 350.743 95.0376 350.743 72.88C350.743 33.343 340.265 1.2922 327.34 1.2922C314.414 1.2922 303.936 33.343 303.936 72.88M81.0642 72.5878C81.0642 33.0508 70.65 1.00001 57.8033 1.00001C44.9567 1.00001 34.5423 33.0508 34.5423 72.5878C34.5423 94.7454 38.9508 112.708 44.389 112.708C49.8271 112.708 54.2357 94.7454 54.2357 72.5878C54.2357 33.0508 43.8214 1.00001 30.9747 1.00001C18.128 1.00001 7.7134 33.0507 7.7134 72.5878C7.7134 94.7454 12.1221 112.708 17.5604 112.708C22.9986 112.708 27.4071 94.7454 27.4071 72.5878C27.4071 33.0508 16.9289 1.00001 4.00348 1C-8.9219 1 -19.4005 33.0507 -19.4005 72.5878C-19.4005 94.7454 -14.9918 112.708 -9.55346 112.708C-4.11512 112.708 0.292723 94.7454 0.292724 72.5878C0.292726 33.0507 -10.1211 1 -22.9679 1C-35.8146 1 -46.2285 33.0507 -46.2285 72.5878C-46.2285 94.7454 -41.8206 112.708 -36.3823 112.708C-30.944 112.708 -26.5353 94.7454 -26.5353 72.5878C-26.5353 33.0507 -36.95 1 -49.7967 1C-62.6434 1 -73.0573 33.0507 -73.0573 72.5878C-73.0573 94.7454 -68.6486 112.708 -63.2111 112.708C-57.7728 112.708 -53.3641 94.7454 -53.3641 72.5878C-53.3641 33.0507 -63.7788 1 -76.6247 1C-89.4714 1 -99.8861 33.0507 -99.8861 72.5878C-99.8861 94.7454 -95.4774 112.708 -90.0391 112.708C-84.6016 112.708 -80.1929 94.7454 -80.1929 72.5878C-80.1929 33.0507 -90.6707 1 -103.596 1C-116.521 0.999999 -127 33.0507 -127 72.5878M215.788 72.5878C215.788 33.0508 205.374 1.00001 192.527 1.00001C179.68 1.00001 169.266 33.0508 169.266 72.5878C169.266 94.7454 173.674 112.708 179.113 112.708C184.551 112.708 188.959 94.7454 188.959 72.5878C188.959 33.0508 178.545 1.00001 165.698 1.00001C152.852 1.00001 142.437 33.0507 142.437 72.5878C142.437 94.7454 146.846 112.708 152.284 112.708C157.722 112.708 162.131 94.7454 162.131 72.5878C162.131 33.0508 151.652 1.00001 138.727 1C125.802 1 115.323 33.0507 115.323 72.5878C115.323 94.7454 119.732 112.708 125.17 112.708C130.608 112.708 135.016 94.7454 135.016 72.5878C135.016 33.0507 124.602 1 111.756 1C98.909 1 88.4951 33.0507 88.4951 72.5878C88.4951 94.7454 92.9029 112.708 98.3413 112.708C103.78 112.708 108.188 94.7454 108.188 72.5878C108.188 33.0507 97.7736 1 84.9269 1C72.0802 1 61.6663 33.0507 61.6663 72.5878C61.6663 94.7454 66.075 112.708 71.5125 112.708C76.9508 112.708 81.3595 94.7454 81.3595 72.5878C81.3595 33.0507 70.9448 1 58.0989 1C45.2521 1 34.8375 33.0507 34.8375 72.5878C34.8375 94.7454 39.2461 112.708 44.6845 112.708C50.122 112.708 54.5307 94.7454 54.5307 72.5878C54.5307 33.0507 44.0529 1 31.1275 1C18.2022 0.999999 7.72359 33.0507 7.72359 72.5878' stroke='%23A1A6B4' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    }

    .flex__width-one,
    .flex__width-two {
        min-width: 100%;
    }

    .flex__width-one {
        margin-bottom: 30px;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
    }

    .footer__social {
        margin: auto;
        margin-bottom: 83px;
    }

    .footer__links {
        margin: auto;
    }

    .footer__social-list {
        margin: 0;
        margin-left: auto;
    }
}

@media (max-width:600px) {

    .container,
    .info__swiper {
        width: 256px;
    }

    .header__button-login {
        display: none;
    }

    .header__panel-login {
        display: block;
    }

    .login {
        padding: 9.5px 24px;
    }

    .nav__list-all {
        display: none;
    }

    .nav__ether {
        display: flex;

        margin: auto;
    }

    .nav__ether-content {
        margin: auto;
        padding: 14.5px;
    }

    .nav__ether svg {
        margin-right: 5px;
    }

    .font-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
    }

    .ether__content {
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .ether__title span {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
    }

    .ether__title {
        font-size: 32px;
    }

    .ether__desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }

    .ether__btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        padding: 17px 45px;
    }

    .podcasts__article {
        display: flex;
        flex-direction: column;
    }



    .podcasts__button {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;

        padding: 17px 30px;
    }







    .guests__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
    }

    .accordion__subtitle>.accordion__title {
        padding: 17.5px 0;
        padding-right: 30px;
    }

    .product__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
    }

    .product__desc,
    .product__desc-individ {
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
    }

    .product__price {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
    }

    .product__btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        padding: 15px 16px;
    }



    .info__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
    }

    .info__desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
    }

    .swiper-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;

        margin-top: 12px;
    }

    .swiper-desc {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }

    .swiper-card {
        margin-right: 20px;
    }

    .swiper-button-one,
    .swiper-button-two {
        display: none;
    }

    .form__input {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;

        padding: 17px 24px;
    }

    .textarea {
        min-height: 150px;
    }

    .form__btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;

        padding: 17px 44.5px;
    }

    .checkbox__span {
        font-weight: 500;
        font-size: 9px;
        line-height: 9px;

    }




    .footer__links {
        background-color: var(--very-dark-shade-blue);
    }
}